<% @title = 'nos realisations' %>
<% @meta_description = "EFT2E Ingénierie est un bureau d'études spécialisé dans la réalisation des études de conception et d'exécution de fluides techniques et thermiques du bâtiment" %>
<% @meta_keyword = ' Etudes, Fluides, Thermiques, Energies, Environnement, bureau d études, énergies renouvelables, écoute, conseils, objectifs énergétiques, environnementaux, économiques'%>
<div class="container content azaz">
  <div class="row">
    <div class="col-sm-12 caroupad">
      <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= link_to '' do %>
                <%= image_tag 'SALLE_DES_FETES SURBOURG.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>Salle des fêtes à Surbourg</h2>
              <h2>©Forum de l’Architecture Marc Klipfel</h2>
            </div>
          </div>
          <div class="item">
            <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                <%= image_tag 'ECOLE BATZENDORF 2.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>Ecole primaire de Batzendorf</h2>
              <h2>©Architectes Larché & Metzger</h2>
            </div>
          </div>

          <div class="item">
            <%= link_to 'articles/44-logements-à-Brumath-(67)-Concours-non-lauréat-(2ème)' do %>
                <%= image_tag '44 LOGEMENTS COLLECTIFS BRUMATH.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>44 logements collectifs à Brumath</h2>
              <h2>©Marc Thomas Architecte</h2>
            </div>
          </div>
          <div class="item">
            <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                <%= image_tag 'ECOLE BATZENDORF 3.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>Ecole primaire de Batzendorf</h2>
              <h2>©Architectes Larché & Metzger</h2>
            </div>
          </div>
          <div class="item">
            <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                <%= image_tag 'MAISON PETITE ENFANCE ROBERTSAU STRASBOURG.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>Maison de la petite enfance Robertsau Strasbourg</h2>
              <h2>©Atelier Architecture & Soleil</h2>
            </div>
          </div>
          <div class="item">
            <%= link_to 'articles/25-logements-à-Ostwald-(67)-Concours-non-lauréat-(2ème)' do %>
                <%= image_tag '25 LOGEMENTS OSTWALD.jpg'%>
            <% end %>
            <div class="carousel-caption">
              <h2>25 logements collectifs à Ostwald</h2>
              <h2>©Marc Thomas Architecte</h2>
            </div>
          </div>
          <div class="item">
            <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                <%= image_tag 'ECOLE BATZENDORF.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>Ecole primaire de Batzendorf</h2>
              <h2>©Architectes Larché & Metzger</h2>
            </div>
          </div>
          <div class="item">
            <%= link_to 'articles/Ecole-maternelle-et-élémentaire-de-Goxwiller-(67)' do %>
                <%= image_tag 'ECOLE GOXWILLER.png'%>
            <% end %>
            <div class="carousel-caption">
              <h2>Ecole maternelle de Goxwiller</h2>
              <h2>©Architectes Larché & Metzger</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="societe menu-filters">
    <ul id="filters" class="filters">
      <li>
        <span class="filter active" data-filter="cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9">Tout</span>
      </li>
      <li>
        <span class="filter" data-filter="cat1 cat2">Habitat</span>
      </li>
      <li>
        <span class="filter" data-filter="cat3">Tertiaire</span>
      </li>
      <li>
        <span class="filter" data-filter="cat4">Social</span>
      </li>
      <li>
        <span class="filter" data-filter="cat5">Culturel</span>
      </li>
      <li>
        <span class="filter" data-filter="cat6">Enseignement</span>
      </li>
      <li>
        <span class="filter" data-filter="cat7">Sportif</span>
      </li>
      <li>
        <span class="filter" data-filter="cat8">Industriel</span>
      </li>
      <li>
        <span class="filter" data-filter="cat9">Santé</span>
      </li>
    </ul>
  </div>
<div class="container content container-fluid-index">
    <div id="articleliste" class="clear articlelist ">
      <% @articles.each do|article|%>
          <a href="/articles/<%= article.title %>">
            <div class="carte cat<%= article.category %>" data-cat="cat<%=article.category%>">
              <div class="carte-image">
                <%= image_tag(article.image.url(:original)) %>
              </div>
              <div class="carte-body">
                <div class="carte-title">
                  <h2><%= article.titre %></h2>
                </div>
                <div>
                  <div class="carte-description">
                    <p><%= article.description %></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
      <%end%>
    </div>
</div>


