<% @title = @article.titre %>
<% @meta_description = @article.description %>
<% @meta_keyword = 'CE, CCTP, DPGF, DQE, plans DAO, chauffage, ventilation, climatisation, rafraîchissement,
solaire, thermique, désenfumage, régulation, GTC, BBC+, STD, Simulation Thermo-Dynamique, Infiltrométrie, infra-rouge, Certification RT2012, Chauffage, ventilation, sanitaire , assainissement, électricité' %>
  <div class="article-title content">
    <h1><strong><%= @article.titre%></strong></h1>
  </div>
  <!--boite modal-->
 <div class="modal" id="infos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
	<h3>fiche technique</h3>
        </div>
        <div class="modal-body">
  
          <div class="article-object">
            <hr>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet1col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet1col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet2col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet2col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet3col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet3col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet4col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet4col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet5col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet5col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet6col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet6col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet7col1 %></p>
              </div>
              <div class="article-object-col2">
                <p><strong><%= @article.objet7col2 %></strong></p>
              </div>
            </div>
            <div class="article-object-col">
              <div class="article-object-col1">
                <p><%= @article.objet8col1 %></p>
              </div>
              <div class="article-object-col2">
               <p><strong><%= @article.objet8col2 %></strong></p>
              </div>
            </div>
          </div><!--/article-objet-->
        </div><!--/modalbody-->
        <div class="modal-footer">
          <button class="btn btn-info" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div><!--/modal-dialogue-->
  </div><!--/modal-->
  <!-- carousel1-->
  <div>
    <div id="carou1" class="content container container-carou soci">
      <div class="row">
        <div>
          <div id="carousel" class="carousel slide carouvue">
            <div class="carrousel-inner carousel-inner-vue">
              <%if @article.image.present?%>
                  <div class="item active">
                    <%= image_tag(@article.image.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.image1.present?%>
                  <div class="item">
                    <%= image_tag(@article.image1.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.image2.present?%>
                  <div class="item">
                    <%= image_tag(@article.image2.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.image3.present?%>
                  <div class="item">
                    <%= image_tag(@article.image3.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.image4.present?%>
                  <div class="item">
                    <%= image_tag(@article.image4.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.image5.present?%>
                  <div class="item">
                    <%= image_tag(@article.image5.url(:original)) %>
                  </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- carousel2-->
    <div id="carou2" class="content container desactiver container-carou soci">
      <div class="row">
        <div>
          <div id="carousel" class="carousel slide carouvue">
            <div class="carrousel-inner carousel-inner-vue">
              <%if @article.plant.present?%>
                  <div class="item active">
                    <%= image_tag(@article.plant.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.plant1.present?%>
                  <div class="item">
                    <%= image_tag(@article.plant1.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.plant2.present?%>
                  <div class="item">
                    <%= image_tag(@article.plant2.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.plant3.present?%>
                  <div class="item">
                    <%= image_tag(@article.plant3.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.plant4.present?%>
                  <div class="item">
                    <%= image_tag(@article.plant4.url(:original)) %>
                  </div>
              <%end%>
              <%if @article.plant5.present?%>
                  <div class="item">
                    <%= image_tag(@article.plant5.url(:original)) %>
                  </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="center-btn">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success" id="previous">
              <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
            </label>
            <label class="btn btn-success" id="pause">
              <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
            </label>
            <label class="btn btn-success active" id="play">
              <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
            </label>
            <label class="btn btn-success" id="next">
              <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="navigation-navbar">
        <ul>
          <li><a href="#" id="photos">photos</a></li>
          <li><a href="#" id="plants">plans</a></li>
          <li><a data-toggle="modal" href="#infos">fiche technique</a></li>
        </ul>
      </div>
    </div>
  </div>


