<% @title = 'contact' %>
<% @meta_description = "EFT2E Ingénierie est un bureau d'études spécialisé dans la réalisation des études de conception et d'exécution de fluides techniques et thermiques du bâtiment" %>
<% @meta_keyword = ' Etudes, Fluides, Thermiques, Energies, Environnement, bureau d études, énergies renouvelables, écoute, conseils, objectifs énergétiques, environnementaux, économiques, contacter'%>
  <div class="contacts content container">
    <div>
      <div class="row">
        <div class="col-sm-12 caroupad">
          <div id="carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <%= link_to 'articles/25-logements-à-Ostwald-(67)-Concours-non-lauréat-(2ème)' do %>
                    <%= image_tag '25 LOGEMENTS OSTWALD.jpg'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>25 logements collectifs à Ostwald</h2>
                  <h2>©Marc Thomas Architecte</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to 'articles/Ecole-maternelle-et-élémentaire-de-Goxwiller-(67)' do %>
                    <%= image_tag 'ECOLE GOXWILLER.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>Ecole maternelle de Goxwiller</h2>
                  <h2>©Architectes Larché & Metzger</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                    <%= image_tag 'MAISON PETITE ENFANCE ROBERTSAU STRASBOURG.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>Maison de la petite enfance Robertsau Strasbourg</h2>
                  <h2>©Atelier Architecture & Soleil</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to 'articles/44-logements-à-Brumath-(67)-Concours-non-lauréat-(2ème)' do %>
                    <%= image_tag '44 LOGEMENTS COLLECTIFS BRUMATH.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>44 logements collectifs à Brumath</h2>
                  <h2>©Marc Thomas Architecte</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                    <%= image_tag 'ECOLE BATZENDORF.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>Ecole primaire de Batzendorf</h2>
                  <h2>©Architectes Larché & Metzger</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                    <%= image_tag 'ECOLE BATZENDORF 2.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>Ecole primaire de Batzendorf</h2>
                  <h2>©Architectes Larché & Metzger</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                    <%= image_tag 'ECOLE BATZENDORF 3.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>Ecole primaire de Batzendorf</h2>
                  <h2>©Architectes Larché & Metzger</h2>
                </div>
              </div>
              <div class="item">
                <%= link_to '' do %>
                    <%= image_tag 'SALLE_DES_FETES SURBOURG.png'%>
                <% end %>
                <div class="carousel-caption">
                  <h2>Salle des fêtes à Surbourg</h2>
                  <h2>©Forum de l’Architecture Marc Klipfel</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-cent">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success" id="previous">
              <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
            </label>
            <label class="btn btn-success" id="pause">
              <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
            </label>
            <label class="btn btn-success active" id="play">
              <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
            </label>
            <label class="btn btn-success" id="next">
              <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <h1>NOUS CONTACTER</h1>
    <h2>EFT2E INGÉNIERIE </h2>
    <p><strong>3C rue de Hochfelden</strong></p>
    <p> <strong>67170 Brumath</strong></p>
    <p><strong><b>Tel :</b> 03 60 84 00 68</strong></p>
    <p><strong><b>Fax :</b> 09 80 67 46 76</strong></p>
    <p><strong><b>Mail :</b> contact@eft2e-ingenierie.fr</strong></p>
    <p>Vous pouvez nous retrouver sur <strong><%= link_to('facebook' ,'https://www.facebook.com/eft2e.ingenierie', target: '_blank' )%></strong> et <strong><%= link_to('twitter' ,'https://twitter.com/EFT2E_Ing', target: '_blank' )%></strong></p>
    <p><a data-toggle="modal" href="#infos">Copyright</a> © 2016 EFT2E INGÉNIERIE.</p>
    <div class="modal" id="infos">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 class="modal-title">copyright</h3>
          </div>
          <div class="modal-body">
            <div content="modal-title">
              <h4>Société</h4>
            </div>
            <p>EFT2E INGENIERIE</p>
            <P>3 C rue de Hochfelden 67170 Brumath</P>
            <P>TEL/FAX:09 80 67 46 76</P>
            <P>EURL au capital de 5000 euros</P>
            <p>SIRET: 80086565100015</p>
            <p>APE: 7112B</p>
            <p>Representé par M EDEL julien</p>
            <div content="modal-title">
              <h4>Hebergement</h4>
            </div>
            <p>OVH</p>
            <p>SAS au capital de 10 000 000 €</p>
            <p>RCS Roubaix- tourcoing 424 761 419 00045</p>
            <p>Code APE: 6202A</p>
            <p>N TVA: RF 22 424 761 419</p>
            <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>
            <h4>Copyright</h4>
            <p>Tous droits réservés a EFT2E ingénierie</p>
            <p>Toutes les images et plants sont utilisées avec l'autorisation des auteurs</p>
          </div><!--/modalbody-->
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div><!--/modal-dialogue-->
    </div><!--/modal-->
  </div>
