<% @title = 'contact' %>
<% @meta_description = "EFT2E Ingénierie est un bureau d'études spécialisé dans la réalisation des études de conception et d'exécution de fluides techniques et thermiques du bâtiment" %>
<% @meta_keyword = ' Etudes, Fluides, Thermiques, Energies, Environnement, bureau d études, énergies renouvelables, écoute, conseils, objectifs énergétiques, environnementaux, économiques, contacter'%>
  <div class="contacts content container">
    <div>
      <div class="row">
        <div class="col-sm-12 caroupad">
          <div id="carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <%= link_to '/articles/Ecole-maternelle-de-Huttenheim-(67)' do %>
                    <%= image_tag 'Ecole_maternelle_de_Huttenheim_-_Larché_&_Metzger.jpg'%>
                <% end %>
                <h2 class="carousel-caption">Ecole maternelle de Huttenheim - Larché & Metzger</h2>
              </div>
              <div class="item">
                <%= link_to '/articles/Ecole-maternelle-de-Stotzheim-(67)' do %>
                    <%= image_tag 'Ecole_maternelle_de_Stotzheim_-_Larché_&_Metzger.png'%>
                <% end %>
                <h2 class="carousel-caption">Ecole maternelle de Stotzheim - Larché & Metzger</h2>
              </div>
              <div class="item">
                <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                    <%= image_tag 'Maison_de_la_petite_enfance_de_la_Robertsau_-_Architecture_et_Soleil.jpg'%>
                <% end %>
                <h2 class="carousel-caption">Maison de la petite enfance de la Robertsau - Architecture et Soleil</h2>
              </div>
              <div class="item">
                <%= link_to '/articles/La-NEF-de-Saint-Dié-des-Vosges-(88)' do %>
                    <%= image_tag 'La_Nef_de_Saint-Dié_des_Vosges_-_DWPA.jpg'%>
                <% end %>
                <h2 class="carousel-caption">La Nef de Saint-Dié des Vosges - DWPA</h2>
              </div>
              <div class="item">
                <%= image_tag 'Siège_social_Cus_Habitat_et_Habitation_Moderne_-_Mongiello_&_Plisson.jpg'%>
                <h2 class="carousel-caption">Siège social Cus Habitat et Habitation Moderne - Mongiello & Plisson</h2>
              </div>
              <div class="item">
                <%= link_to '/articles/Gymnase-Centre-Sportif-Ouest-(CSO)-de-Koenigshoffen-à-Strasbourg-(67)' do %>
                    <%= image_tag 'Gymnase_CSO_de_Koenigshoffen_à_Strasbourg_-_Antonelli_&_Herry.jpg'%>
                <% end %>
                <h2 class="carousel-caption">Gymnase CSO de Koenigshoffen à Strasbourg - Antonelli & Herry</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-cent">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success" id="previous">
              <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
            </label>
            <label class="btn btn-success" id="pause">
              <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
            </label>
            <label class="btn btn-success active" id="play">
              <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
            </label>
            <label class="btn btn-success" id="next">
              <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <h1>NOUS CONTACTER</h1>
    <h2>EFT2E INGÉNIERIE </h2>
    <p><strong>3C rue de Hochfelden</strong></p>
    <p> <strong>67170 Brumath</strong></p>
    <p><strong><b>Tel :</b> 03 60 84 00 68</strong></p>
    <p><strong><b>Fax :</b> 09 80 67 46 76</strong></p>
    <p><strong><b>Mail :</b> contact@eft2e-ingenierie.fr</strong></p>
    <p>Vous pouvez nous retrouver sur <strong><%= link_to('facebook' ,'https://www.facebook.com/eft2e.ingenierie', target: '_blank' )%></strong> et <strong><%= link_to('twitter' ,'https://twitter.com/EFT2E_Ing', target: '_blank' )%></strong></p>
    <p><a data-toggle="modal" href="#infos">Copyright</a> © 2016 EFT2E INGÉNIERIE.</p>
    <div class="modal" id="infos">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 class="modal-title">copyright</h3>
          </div>
          <div class="modal-body">
            <div content="modal-title">
              <h4>Société</h4>
            </div>
            <p>EFT2E INGENIERIE</p>
            <P>3 C RUE DE HOCHFELDEN 67170 BRUMATH</P>
            <P>TEL/FAX:09 80 67 46 76</P>
            <P>EURL au capital de 5000 euros</P>
            <p>SIRET: 80086565100015</p>
            <p>APE: 7112B</p>
            <p>Representé par M EDEL julien</p>
            <div content="modal-title">
              <h4>Hebergement</h4>
            </div>
            <p>OVH</p>
            <p>SAS au capital de 10 000 000 €</p>
            <p>RCS Roubaix- tourcoing 424 761 419 00045</p>
            <p>Code APE: 6202A</p>
            <p>N TVA: RF 22 424 761 419</p>
            <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>
            <h4>Copyright</h4>
            <p>Tous droits réservés a EFT2E ingénierie</p>
            <p>Toutes les images et plants sont utilisées avec l'autorisation des auteurs</p>
          </div><!--/modalbody-->
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div><!--/modal-dialogue-->
    </div><!--/modal-->
  </div>
