<% @title = "EFT2E Ingénierie - bureau d'études Strasbourg"%>
<% @meta_description = "EFT2E Ingénierie est un bureau d'études située a strasbourg spécialisé dans la réalisation des études de conception et d'exécution de fluides techniques et thermiques du bâtiment" %>
<% @meta_keyword = 'Bureau d études, Strasbourg, Etudes, Fluides, Thermiques, Energies, Environnement, Bureau d études Strasbourg, énergies renouvelables, écoute, conseils, objectifs énergétiques, environnementaux, économiques'%>

      <div class="container content">
        <div class="row">
          <div class="col-sm-12 caroupad">
            <div id="carousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                      <%= image_tag 'MAISON PETITE ENFANCE ROBERTSAU STRASBOURG.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>Maison de la petite enfance Robertsau Strasbourg</h2>
                    <h2>©Atelier Architecture & Soleil</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                      <%= image_tag 'ECOLE BATZENDORF 2.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>Ecole primaire de Batzendorf</h2>
                    <h2>©Architectes Larché & Metzger</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                      <%= image_tag 'ECOLE BATZENDORF 3.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>Ecole primaire de Batzendorf</h2>
                    <h2>©Architectes Larché & Metzger</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to 'articles/44-logements-à-Brumath-(67)-Concours-non-lauréat-(2ème)' do %>
                      <%= image_tag '44 LOGEMENTS COLLECTIFS BRUMATH.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>44 logements collectifs à Brumath</h2>
                    <h2>©Marc Thomas Architecte</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                      <%= image_tag 'ECOLE BATZENDORF.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>Ecole primaire de Batzendorf</h2>
                    <h2>©Architectes Larché & Metzger</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to 'articles/Ecole-maternelle-et-élémentaire-de-Goxwiller-(67)' do %>
                      <%= image_tag 'ECOLE GOXWILLER.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>Ecole maternelle de Goxwiller</h2>
                    <h2>©Architectes Larché & Metzger</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to 'articles/25-logements-à-Ostwald-(67)-Concours-non-lauréat-(2ème)' do %>
                      <%= image_tag '25 LOGEMENTS OSTWALD.jpg'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>25 logements collectifs à Ostwald</h2>
                    <h2>©Marc Thomas Architecte</h2>
                  </div>
                </div>
                <div class="item">
                  <%= link_to '' do %>
                      <%= image_tag 'SALLE_DES_FETES SURBOURG.png'%>
                  <% end %>
                  <div class="carousel-caption">
                    <h2>Salle des fêtes à Surbourg</h2>
                    <h2>©Forum de l’Architecture Marc Klipfel</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btn-cent">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-success" id="previous">
                <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
              </label>
              <label class="btn btn-success" id="pause">
                <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
              </label>
              <label class="btn btn-success active" id="play">
                <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
              </label>
              <label class="btn btn-success" id="next">
                <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    <div class="societe content container soci socicentre">
      <p>EFT2E Ingénierie « Etudes Fluides Thermiques Energies & Environnement », est un bureau d'études spécialisé dans la réalisation des études de conception et d'exécution de fluides techniques et thermiques du bâtiment, qui s'implique dès la phase conceptuelle d'un projet en ciblant ses enjeux énergétiques et environnementaux.</p>
      <p>Le bureau d'études intervient pour des missions complètes ou ponctuelles dans le rôle de Maître d'Oeuvre, d'Assistant technique à Maîtrise d'Ouvrage ou d'Acteur environnemental HQE dans le cadre de projets de construction et de rénovation de bâtiments d'habitation, tertiaires, scolaires, sportifs, sociaux, culturels, industriels et de santé, en marché public et privé, visant un objectif RT2012, BBC+ ou autres.</p>

      <h2>IMPLANTATION</h2>
      <hr>
      <p>Nouveaux locaux EFT2E Ingénierie...</p>
      <div class="imgacc">
        <%= image_tag 'nouveau_locaux_2.png', class: 'imgaccueil'%>
        <%= image_tag 'nouveau_locaux_1.png', class: 'imgaccueil'%>
      </div>
      <p>...Déménagement des locaux prévu courant 2017 à Brumath, à 20 minutes de Strasbourg, dans le nouveau bâtiment mutualisé du Groupe P’ENOAC.</p>
      <p>EFT2E Ingénierie est membre fondateur du Groupe P'ENOAC 67 et sera propriétaire de ses locaux.</p>


      <p style="color: red; font-size: 22px;" class="societe">site en cours de construction...</p>
    </div>

