<% @title = 'nos missions' %>
<% @meta_description = "Grâce à son équipe et aux métiers représentés par ses partenaires, EFT2E Ingénierie peut élargir son champs d'intervention et répondre à l'ensemble des lots techniques, en marché public ou privé, dans le cadre de missions complètes ou ponctuelles Le bureau d'études réalise également des missions spécifiques dans le cadre des études"%>
<% @meta_keyword = 'DCE, CCTP, DPGF, DQE, plans DAO, chauffage, ventilation, climatisation, rafraîchissement,
solaire, thermique, désenfumage, régulation, GTC, BBC+, STD, Simulation Thermo-Dynamique, Infiltrométrie, infra-rouge, Certification RT2012'%>
  <div class="container content">
    <div class="row">
      <div class="col-sm-12 caroupad">
        <div id="carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <%= link_to '/articles/Gymnase-Centre-Sportif-Ouest-(CSO)-de-Koenigshoffen-à-Strasbourg-(67)' do %>
                  <%= image_tag 'Gymnase_CSO_de_Koenigshoffen_à_Strasbourg_-_Antonelli_&_Herry.jpg'%>
              <% end %>
              <h2 class="carousel-caption">Gymnase CSO de Koenigshoffen à Strasbourg - Antonelli & Herry</h2>
            </div>
            <div class="item ">
              <%= link_to '/articles/Ecole-maternelle-de-Huttenheim-(67)' do %>
                  <%= image_tag 'Ecole_maternelle_de_Huttenheim_-_Larché_&_Metzger.jpg'%>
              <% end %>
              <h2 class="carousel-caption">Ecole maternelle de Huttenheim - Larché & Metzger</h2>
            </div>
            <div class="item">
              <%= link_to '/articles/La-NEF-de-Saint-Dié-des-Vosges-(88)' do %>
                  <%= image_tag 'La_Nef_de_Saint-Dié_des_Vosges_-_DWPA.jpg'%>
              <% end %>
              <h2 class="carousel-caption">La Nef de Saint-Dié des Vosges - DWPA</h2>
            </div>
            <div class="item">
              <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                  <%= image_tag 'Maison_de_la_petite_enfance_de_la_Robertsau_-_Architecture_et_Soleil.jpg'%>
              <% end %>
              <h2 class="carousel-caption">Maison de la petite enfance de la Robertsau - Architecture et Soleil</h2>
            </div>
            <div class="item">
              <%= image_tag 'Siège_social_Cus_Habitat_et_Habitation_Moderne_-_Mongiello_&_Plisson.jpg'%>
              <h2 class="carousel-caption">Siège social Cus Habitat et Habitation Moderne - Mongiello & Plisson</h2>
            </div>

            <div class="item">
              <%= link_to '/articles/Ecole-maternelle-de-Stotzheim-(67)' do %>
                  <%= image_tag 'Ecole_maternelle_de_Stotzheim_-_Larché_&_Metzger.png'%>
              <% end %>
              <h2 class="carousel-caption">Ecole maternelle de Stotzheim - Larché & Metzger</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-cent">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success" id="previous">
            <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
          </label>
          <label class="btn btn-success" id="pause">
            <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
          </label>
          <label class="btn btn-success active" id="play">
            <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
          </label>
          <label class="btn btn-success" id="next">
            <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
<div class="societe content container">
  <% @missions.each do |mission|%>
      <h2><%= mission.titre%></h2>
      <hr>
      <% if mission.description.present?%>
          <p><%= mission.description%></p>
      <%end%>
      <ul>
        <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements1%></li>
        <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements2%></li>
        <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements3%></li>
        <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements4%></li>
        <% if mission.elements5.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements5%></li>
        <%end%>
        <% if mission.elements6.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements6%></li>
        <%end%>
        <% if mission.elements7.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements7%></li>
        <%end%>
        <% if mission.elements8.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements8%></li>
        <%end%>
        <% if mission.elements9.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements9%></li>
        <%end%>
        <% if mission.elements10.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements10%></li>
        <%end%>
        <% if mission.elements11.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements11%></li>
        <%end%>
        <% if mission.elements12.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements12%></li>
        <%end%>
        <% if mission.elements13.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements13%></li>
        <%end%>
        <% if mission.elements14.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements14%></li>
        <%end%>
        <% if mission.elements15.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements15%></li>
        <%end%>
        <% if mission.elements16.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements16%></li>
        <%end%>
        <% if mission.elements17.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements17%></li>
        <%end%>
        <% if mission.elements18.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements18%></li>
        <%end%>
        <% if mission.elements19.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= mission.elements19%></li>
        <%end%>
      </ul>
  <% end %>
</div>


