<% @title = 'nos ressources' %>
<% @meta_description = "EFT2E Ingénierie dispose d'une équipe spécialisée pour répondre aux besoins des projets de la phase conceptuelle du projet jusqu’à sa construction Selon les besoins des projets, le bureau d'études est également entouré de ses partenaires spécialistes "%>
<% @meta_keyword = 'Chef de projet, Ingénieur électricien, SSI, Certification RT2012, ERNMT, termites, amiante, plomb, gaz, merules, HTD, Hygro-Thermique Dynamique, DPE'%>
  <div class="container content">
    <div class="row">
      <div class="col-sm-12 caroupad">
        <div id="carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <%= link_to 'articles/44-logements-à-Brumath-(67)-Concours-non-lauréat-(2ème)' do %>
                  <%= image_tag '44 LOGEMENTS COLLECTIFS BRUMATH.png'%>
              <% end %>
              <div class="carousel-caption">
                <h2>44 logements collectifs à Brumath</h2>
                <h2>©Marc Thomas Architecte</h2>
              </div>
            </div>
            <div class="item">
              <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                  <%= image_tag 'ECOLE BATZENDORF.png'%>
              <% end %>
              <div class="carousel-caption">
                <h2>Ecole primaire de Batzendorf</h2>
                <h2>©Architectes Larché & Metzger</h2>
              </div>
            </div>
            <div class="item">
              <%= link_to 'articles/Ecole-maternelle-et-élémentaire-de-Goxwiller-(67)' do %>
                  <%= image_tag 'ECOLE GOXWILLER.png'%>
              <% end %>
              <div class="carousel-caption">
                <h2>Ecole maternelle de Goxwiller</h2>
                <h2>©Architectes Larché & Metzger</h2>
              </div>
            </div>
            <div class="item">
              <%= link_to 'articles/25-logements-à-Ostwald-(67)-Concours-non-lauréat-(2ème)' do %>
                  <%= image_tag '25 LOGEMENTS OSTWALD.jpg'%>
              <% end %>
              <div class="carousel-caption">
                <h2>25 logements collectifs à Ostwald</h2>
                <h2>©Marc Thomas Architecte</h2>
              </div>
            </div>
            <div class="item">
              <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                  <%= image_tag 'MAISON PETITE ENFANCE ROBERTSAU STRASBOURG.png'%>
              <% end %>
              <div class="carousel-caption">
                <h2>Maison de la petite enfance Robertsau Strasbourg</h2>
                <h2>©Atelier Architecture & Soleil</h2>
              </div>
            </div>
            <div class="item">
              <%= link_to '' do %>
                  <%= image_tag 'SALLE_DES_FETES SURBOURG.png'%>
              <% end %>
              <div class="carousel-caption">
                <h2>Salle des fêtes à Surbourg</h2>
                <h2>©Forum de l’Architecture Marc Klipfel</h2>
              </div>
            </div>
            <div class="item ">
              <%= link_to 'articles/Ecole-primaire-de-Batzendorf-(67)' do %>
                  <%= image_tag 'ECOLE BATZENDORF 2.png'%>
              <% end %>
              <div class="carousel-caption">
                <h2>Ecole primaire de Batzendorf</h2>
                <h2>©Architectes Larché & Metzger</h2>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-cent">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success" id="previous">
            <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
          </label>
          <label class="btn btn-success" id="pause">
            <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
          </label>
          <label class="btn btn-success active" id="play">
            <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
          </label>
          <label class="btn btn-success" id="next">
            <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
<div class="societe content container">
  <% @ressources.each do |ressource|%>
      <% if ressource.titre.present?%>
          <h2><%= ressource.titre%></h2>
      <%end%>
      <hr>
      <% if ressource.description.present?%>
          <p><%= ressource.description%></p>
      <%end%>
      <ul class="mire">
        <% if ressource.elements1.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements1%></li>
        <%end%>
        <% if ressource.elements2.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements2%></li>
        <%end%>
        <% if ressource.elements3.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements3%></li>
        <%end%>
        <% if ressource.elements4.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements4%></li>
        <%end%>
        <% if ressource.elements5.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements5%></li>
        <%end%>
        <% if ressource.elements6.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements6%></li>
        <%end%>
        <% if ressource.elements7.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements7%></li>
        <%end%>
        <% if ressource.elements8.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements8%></li>
        <%end%>
        <% if ressource.elements9.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements9%></li>
        <%end%>
        <% if ressource.elements10.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements10%></li>
        <%end%>
      </ul>
  <%end%>
</div>