<% @title = 'nos ressources' %>
<% @meta_description = "EFT2E Ingénierie dispose d'une équipe spécialisée pour répondre aux besoins des projets de la phase conceptuelle du projet jusqu’à sa construction Selon les besoins des projets, le bureau d'études est également entouré de ses partenaires spécialistes "%>
<% @meta_keyword = 'Chef de projet, Ingénieur électricien, SSI, Certification RT2012, ERNMT, termites, amiante, plomb, gaz, merules, HTD, Hygro-Thermique Dynamique, DPE'%>
  <div class="container content">
    <div class="row">
      <div class="col-sm-12 caroupad">
        <div id="carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <%= link_to '/articles/Ecole-maternelle-de-Huttenheim-(67)' do %>
                  <%= image_tag 'Ecole_maternelle_de_Huttenheim_-_Larché_&_Metzger.jpg'%>
              <% end %>
              <h2 class="carousel-caption">Ecole maternelle de Huttenheim - Larché & Metzger</h2>
            </div>
            <div class="item">
              <%= link_to '/articles/Gymnase-Centre-Sportif-Ouest-(CSO)-de-Koenigshoffen-à-Strasbourg-(67)' do %>
                  <%= image_tag 'Gymnase_CSO_de_Koenigshoffen_à_Strasbourg_-_Antonelli_&_Herry.jpg'%>
              <% end %>
              <h2 class="carousel-caption">Gymnase CSO de Koenigshoffen à Strasbourg - Antonelli & Herry</h2>
            </div>
            <div class="item">
              <%= link_to '/articles/Maison-de-la-petite-enfance-de-la-Robertsau-à-Strasbourg-(67)' do %>
                  <%= image_tag 'Maison_de_la_petite_enfance_de_la_Robertsau_-_Architecture_et_Soleil.jpg'%>
              <% end %>
              <h2 class="carousel-caption">Maison de la petite enfance de la Robertsau - Architecture et Soleil</h2>
            </div>
            <div class="item">
              <%= link_to '/articles/Ecole-maternelle-de-Stotzheim-(67)' do %>
                  <%= image_tag 'Ecole_maternelle_de_Stotzheim_-_Larché_&_Metzger.png'%>
              <% end %>
              <h2 class="carousel-caption">Ecole maternelle de Stotzheim - Larché & Metzger</h2>
            </div>
            <div class="item">
              <%= image_tag 'Siège_social_Cus_Habitat_et_Habitation_Moderne_-_Mongiello_&_Plisson.jpg'%>
              <h2 class="carousel-caption">Siège social Cus Habitat et Habitation Moderne - Mongiello & Plisson</h2>
            </div>
            <div class="item">
              <%= link_to '/articles/La-NEF-de-Saint-Dié-des-Vosges-(88)' do %>
                  <%= image_tag 'La_Nef_de_Saint-Dié_des_Vosges_-_DWPA.jpg'%>
              <% end %>
              <h2 class="carousel-caption">La Nef de Saint-Dié des Vosges - DWPA</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-cent">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success" id="previous">
            <input type="radio" name="options"><span class="glyphicon glyphicon-step-backward"></span>
          </label>
          <label class="btn btn-success" id="pause">
            <input type="radio" name="options"><span class="glyphicon glyphicon-pause"></span>
          </label>
          <label class="btn btn-success active" id="play">
            <input type="radio" name="options"><span class="glyphicon glyphicon-play"></span>
          </label>
          <label class="btn btn-success" id="next">
            <input type="radio" name="options"><span class="glyphicon glyphicon-step-forward"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
<div class="societe content container">
  <% @ressources.each do |ressource|%>
      <% if ressource.titre.present?%>
          <h2><%= ressource.titre%></h2>
      <%end%>
      <hr>
      <% if ressource.description.present?%>
          <p><%= ressource.description%></p>
      <%end%>
      <ul>
        <% if ressource.elements1.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements1%></li>
        <%end%>
        <% if ressource.elements2.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements2%></li>
        <%end%>
        <% if ressource.elements3.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements3%></li>
        <%end%>
        <% if ressource.elements4.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements4%></li>
        <%end%>
        <% if ressource.elements5.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements5%></li>
        <%end%>
        <% if ressource.elements6.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements6%></li>
        <%end%>
        <% if ressource.elements7.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements7%></li>
        <%end%>
        <% if ressource.elements8.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements8%></li>
        <%end%>
        <% if ressource.elements9.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements9%></li>
        <%end%>
        <% if ressource.elements10.present?%>
            <li><%= image_tag 'puce.png',class:'puces' %><%= ressource.elements10%></li>
        <%end%>
      </ul>
  <%end%>
</div>