<header>
  <div class="header-title">
    <%= image_tag 'logo-eft2e.png'%>
    <div class="header-title-titre">
      <h1 class="big">EFT2E INGÉNIERIE</h1>
      <h2 class="big">Bureau d'etudes</h2>
    </div>
  </div>

  <div class="header-navbar" data-sticky>
    <h1 class="little">EFT2E INGÉNIERIE</h1>
    <div id="header-icon" class="header-icon"></div>
    <nav class="wrap" >
      <ul  class="menu-hide">
        <li><%= link_to('Accueil', root_url)%></li>
        <li><%= link_to('Nos ressources', ressources_url)%></li>
        <li><%= link_to('Nos missions',missions_url)%></li>
        <li><%= link_to('Nos realisations', articles_url)%></li>
        <li><%= link_to('Nous contacter', contact_url)%></li>
      </ul>
    </nav>
  </div>
</header>
